.images {
    width: 140px;
    height: 150px;
    border: solid white 2px;
    margin: 10px;
}

.jumbotron {
    background-color: green;
}

body {
    color: white;
    background-color: green;
}

.image-holder {
    opacity: 0;
}